@charset "UTF-8";
/* custom eshop css */
 table, th, td {
     border: 2px solid var(--text-main);
     border-collapse: collapse;
}
 .productImg {
    max-width: 100%;
     width: 100%;
     height: auto;
}
 .registrationForm {
     width: 100%;
     display:block;
}
 .registrationField {
     width: 100%;
}
 .registrationInput {
     width: 100%;
     padding: 0.5rem;
     border-radius: 0.7rem;
}
 .registrationInput:focus {
     outline: 3px solid var(--text-main);
}
 .showPass {
     margin-top: auto;
     margin-bottom: auto;
     margin-left: -30px;
     cursor: pointer;
}
 .passwordRow {
     display:inline-flex;
     width: 100%;
}
 .fa-eye, .fa-eye-slash {
     color: #16263b;
}
 .topText {
     text-align: center;
     font-size: 1.3rem;
}
 .rowThings {
     display: inline;
}
 .formMessage {
     font-family:'Times New Roman', Times, serif;
}
 .registrationError {
     color: crimson;
     padding: 1rem;
     font-size: 1.5rem;
     font-weight: bold;
}
 .registrationSuccess {
     padding-top: 3rem;
     padding-bottom: 3rem;
     font-size: 1.2rem;
     font-weight: bold;
     text-align: center;
}
 .registrationSuccessHead {
     font-size: 1.5rem;
     margin-bottom: 0.6rem;
}
 .registrationSubmit {
     margin-top: 1rem;
     margin-bottom: 1rem;
     padding: 0.5rem;
     border-radius: 0.7rem;
}
 .productGrid {
     max-width: 30%;
     min-width: 10rem;
     width: auto;
     height: auto;
     display: inline-block;
     border: 3px solid var(--text-main);
     border-radius: 0.5rem;
     padding: 0.5rem;
     margin: 0.3rem;
}
 .productGridList {
     text-align: center;
}
 .gamPris {
     text-decoration: line-through solid var(--text-main);
}
 .orderDivider {
     border-bottom: 1rem solid var(--text-main);
     border-radius: 1rem;
     margin-bottom: 3rem;
}
 .orderHead {
     font-size: 1.3rem;
}
 .productListPage {
     text-align: center;
     z-index: 8;
}
 .productPageGrid {
     max-width: 20%;
     width: auto;
     height: auto;
     display: inline-block;
     border: 3px solid var(--text-main);
     border-radius: 0.5rem;
     padding: 0.5rem;
     margin: 0.3rem;
     z-index: 5;
}
 @media (max-width: 1000px){
     .productPageGrid {
         max-width: 40%;
         width: auto;
         height: auto;
         display: inline-block;
         border: 3px solid var(--text-main);
         border-radius: 0.5rem;
         padding: 0.5rem;
         margin: 0.3rem;
    }
}
 @media (max-width: 600px){
     .productPageGrid {
         max-width: 100%;
         width: auto;
         height: auto;
         display: inline-block;
         border: 3px solid var(--text-main);
         border-radius: 0.5rem;
         padding: 0.5rem;
         margin: 0.3rem;
    }
}
 .forgotForm {
     width: 100%;
     display:block;
}
 .productName {
     padding-top: 0.3rem;
     margin: 0rem;
}
 .catagoryToggle {
     background-color: var(--text-main);
     color: var(--main-bg);
     padding: 0.5rem;
     width: 6rem;
     margin-bottom: 0.5rem;
     z-index: 10;
}
 .catagoryToggle:hover {
     opacity: 50%;
}
 .categorytext {
     text-align: center
}
 .section-nav {
     margin-left: 1rem;
}
 .loggaUt {
     width: 10rem;
     font-weight: 600;
     border-radius: 0.4rem;
     border: 3px solid var(--text-main);
     background-color: var(--main-bg);
     color: var(--tab-act);
}
 .loggaUt:hover {
     opacity: 80%;
}
 .tack {
     text-align: center;
}
 .proPageInfo {
     padding-left: 1rem;
}

.registrationSubmitMany {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    position: relative;
    display: flex;
}

.formInputButtonRow {
    display: flex;
    width: 100%;
    border: 0;
    padding: 0;
}

.formInputButtonRow {
    display: flex;
}

.itemTable {

    
}